<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexical WYSIWYG Editor Example</title>
    <style>
    </style>
  </head>
  <body>
    <h1>Lexical WYSIWYG Editor Example</h1>
    <textarea id="myTextarea"></textarea>
  </body>
</html>